<table border="1">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>State</th>
        <th>Category</th>
        <th>Image</th>
        <th>Date_Event</th>
        <th>nbe_participant</th>
        <th>Details</th>
    </tr>
    {% for ee in e  %}
    <tr>
    <td>{{ee.title}}</td>
    <td>{{ee.description}}</td>
    <td>{{ee.state}}</td>
    <td>{{ee.category}}</td>
    <td>{{ee.image}}</td>
    <td>{{ee.event_date}}</td>
    <td>{{ee.nbe_participant}}</td>
    <td><a href="{% url 'D' ee.title %}">Detail</a></td>
</tr>
    {% endfor %}
    
</table>